[Unit]
Description=etcd
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker kill etcd
ExecStartPre=-/usr/bin/docker rm etcd
ExecStartPre=/usr/bin/docker pull {{ etcd_image }}:{{ etcd_image_tag }}

ExecStart=/usr/bin/docker run \
    --name=etcd \
    --publish={{ etcd_client_port }}:{{ etcd_client_port }} \
    --publish={{ etcd_peer_port }}:{{ etcd_peer_port }} \
    {{ etcd_image }}:{{ etcd_image_tag }} \
    --initial-cluster-state new \
    --initial-advertise-peer-urls http://{{ inventory_hostname }}:{{ etcd_peer_port }} \
    --advertise-client-urls http://{{ inventory_hostname }}:{{ etcd_client_port }} \
    --name {{ inventory_hostname }} \
    --initial-cluster {% for item in groups['all'] -%}
                        {% if item != 'localhost' -%}
                          {{ hostvars[item].inventory_hostname }}=http://{{ hostvars[item].inventory_hostname }}:{{ etcd_peer_port }}
                        {%- endif -%}
                        {%- if not loop.last %},{% endif -%}
                      {% endfor %}


ExecStop=/usr/bin/docker stop etcd

[Install]
WantedBy=multi-user.target
